body {
    font-family: 'Roboto', sans-serif;
    background: url('./pexels-bongkarn-thanyakij-3758745.jpg');
}

.icons-1 {
display: flex;
align-items: center;
justify-content: space-around;
align-items: center;
}

.icons-2 {
    margin-right: 60px;
}

.brand-name {
text-align: center;
}

.brand-tagline {
text-align: center;
}

.web-btn {
    border: none;
    background: green;
    color: white;
    padding: 15px;
    display: flex;
    margin-left: 45%;
    list-style: none;
}

.meeting-heading {
    text-align: center;
}

@media (max-width:501px) {
    .icons-1 {
        flex-direction: column;
    }
    .icons-col-1 {
        margin-right: 70px;
    }
    .brand-name {
        margin-right: 50px;
    }
    .meeting-heading {
        margin-right: 80px;
        margin-top: 100px;
    }
    .web-btn {
        position: absolute;
        top: 50;
        left:-70px
    }
    .microsoft-teams {
        margin-left: 50px;
    }
    .blue-button {
        margin-left: 40px;
    }
}